In [1]:
import pandas as pd
import numpy as np

In [88]:
raw_data = pd.read_csv('D:/Data Science/Datasets/Datasets/Absenteeism_data.csv')
pd.options.display.max_rows = 10
raw_data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [89]:
raw_data.isna().sum()

ID                           0
Reason for Absence           0
Date                         0
Transportation Expense       0
Distance to Work             0
                            ..
Body Mass Index              0
Education                    0
Children                     0
Pets                         0
Absenteeism Time in Hours    0
Length: 12, dtype: int64

In [90]:
raw_data.drop(['ID'], inplace=True, axis=1)

In [91]:
reason_dummies = pd.get_dummies(raw_data['Reason for Absence'])

In [92]:
reason_reduced = pd.DataFrame()

In [93]:
reason_reduced['Reason1'] = reason_dummies.loc[:,1:14].sum(axis=1)
reason_reduced['Reason2'] = reason_dummies.loc[:,15:17].sum(axis=1)
reason_reduced['Reason3'] = reason_dummies.loc[:,18:21].sum(axis=1)
reason_reduced['Reason4'] = reason_dummies.loc[:,22:28].sum(axis=1)

In [94]:
raw_data.drop(['Reason for Absence'], inplace=True, axis=1)

In [95]:
raw_data_reason_dummies = pd.concat([raw_data, reason_reduced], axis=1)

In [107]:
raw_data = raw_data_reason_dummies.copy()

In [108]:
raw_data['Date'] = pd.to_datetime(raw_data['Date'], format='%d/%m/%Y')

In [109]:
raw_data['Month'] = [raw_data['Date'][i].month for i in range(raw_data.shape[0])]

In [110]:
raw_data['Day'] = [raw_data['Date'][i].weekday() for i in range(raw_data.shape[0])]

In [111]:
raw_data

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason1,Reason2,Reason3,Reason4,Month,Day
0,2015-07-07,289,36,33,239.554,30,1,2,1,4,0,0,0,1,7,1
1,2015-07-14,118,13,50,239.554,31,1,1,0,0,0,0,0,0,7,1
2,2015-07-15,179,51,38,239.554,31,1,0,0,2,0,0,0,1,7,2
3,2015-07-16,279,5,39,239.554,24,1,2,0,4,1,0,0,0,7,3
4,2015-07-23,289,36,33,239.554,30,1,2,1,2,0,0,0,1,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,2018-05-23,179,22,40,237.656,22,2,2,0,8,1,0,0,0,5,2
696,2018-05-23,225,26,28,237.656,24,1,1,2,3,1,0,0,0,5,2
697,2018-05-24,330,16,28,237.656,25,2,0,0,8,1,0,0,0,5,3
698,2018-05-24,235,16,32,237.656,25,3,0,0,2,0,0,0,1,5,3
699,2018-05-31,291,31,40,237.656,25,1,1,1,2,0,0,0,1,5,3

In [112]:
raw_data.drop(['Date'], inplace=True, axis=1)

In [113]:
cols = ['Reason1', 'Reason2', 'Reason3','Reason4', 'Month', 'Day', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children', 'Pets', 'Absenteeism Time in Hours']

In [114]:
raw_data = raw_data[cols]

In [116]:
raw_data_1 = raw_data.copy()

In [119]:
raw_data_1['Education'] = raw_data_1['Education'].map({1:0, 2:1, 3:1, 4:1})

In [120]:
def find_target(x):
    if x>3:
        return 1
    else:
        return 0

In [121]:
raw_data_1['Tragets'] = raw_data_1['Absenteeism Time in Hours'].apply(find_target)

In [123]:
raw_data_1.drop(['Absenteeism Time in Hours'], inplace=True, axis=1)

In [124]:
data = raw_data_1.copy()

In [125]:
data.head()

,Reason1,Reason2,Reason3,Reason4,Month,Day,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Tragets
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,0

In [127]:
inputs = data.drop(['Tragets'], axis=1)
output = data['Tragets']

In [129]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
scaled_inputs = scale.fit_transform(inputs)

In [137]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, output, test_size=0.2, random_state=365)

In [138]:
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(560, 14) (560,)
(140, 14) (140,)

In [143]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=20)
model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=20)

In [144]:
model.score(x_test, y_test)

0.7142857142857143

In [141]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()
reg.fit(x_train, y_train)

LogisticRegression()

In [142]:
reg.score(x_test, y_test)

0.7357142857142858